django==2.2.22
djangorestframework
django-rest-auth
django-allauth
djangorestframework-jwt
django-rest-swagger==2.2.0
markdown
django-filter
psycopg2-binary
uwsgi
fabric3
termcolor
celery
redis
future==0.16.0
twisted
hexbytes
xlwt
rlp==1.0.1
web3
base58
mnemonic
termcolor